@import "../../styles/background.scss";
@import "../../styles/table.scss";
@import "../../styles/button.scss";

form {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

mat-form-field {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
}

button {
  height: 48px;
  min-width: 120px;
  margin-top: 8px;
}

mat-form-field .mat-mdc-form-field-wrapper {
  padding-bottom: 8px;
}

mat-form-field .mat-mdc-text-field-wrapper {
  height: 48px;
}
