@import "../../shared/styles/background.css";
@import "../../shared/styles/table.css";
@import "../../shared/styles/button.css";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
