<div class="container background">
  <div class="chart">
    <app-chart [portfolioValues]="portfolioValues()"></app-chart>
  </div>

  <app-add-asset-form (formSubmit)="addAssetToWallet($event)"></app-add-asset-form>

  <div class="table">
    @if (isLoading()) {
      <p>Loading...</p>
    } @else {
      <div class="tableContainer">
        <table class="assets-table">
          <thead>
          <tr>
            <th>AssetModel</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Percentage</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            @for (asset of assets(); track asset.symbol) {
              <tr>
                <td>{{ asset.symbol }}</td>
                @if (isEditing(asset.symbol)) {
                  <td><input type="number" [(ngModel)]="editingValues()!.quantity" step="0.00000001" min="0"></td>
                } @else {
                  <td>{{ asset.quantity | number:'1.2-8' }}</td>
                }
                <td>{{ asset.price * asset.quantity | currency:'EUR' }}</td>
                <td>{{ asset.percentage }}%</td>
                @if (isEditing(asset.symbol)) {
                  <td>
                    <button mat-icon-button class="btn primary" (click)="saveEdit(asset.symbol)" title="Save">
                      <mat-icon>save</mat-icon>
                    </button>
                    <button mat-icon-button class="btn secondary" (click)="cancelEdit()" title="Cancel">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </td>
                } @else {
                  <td>
                    <button mat-icon-button class="btn primary" (click)="startEdit(asset)"
                            title="Modify asset">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="btn secondary" (click)="removeAsset(asset.symbol)"
                            title="Remove asset">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                }

              </tr>
            } @empty {
              <tr>
                <td colspan="5">There are no assets</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>

  <div class="selected-strat">
    <app-strategy-card
      [icon]="'assets/img/icon/strategy/contant_mix.png'"
      [title]="tmpData.title"
      [description]="tmpData.description"
      [marketType]="tmpData.marketType"
      [riskProfile]="tmpData.riskProfile"
      [showModifyButton]="true"
    ></app-strategy-card>
  </div>
</div>
