.sidenav-container {
    height: 100vh;
}

.permanent-sidenav {
    width: 15rem;
    padding: 1.6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.permanent-sidenav .mat-nav-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 0.4rem;
    padding: 0;
    overflow: hidden;
}

.permanent-sidenav .top-links {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.permanent-sidenav a[mat-list-item] {
    width: 100%;
    max-width: 100%;
    text-align: left;
    padding-left: 0.25rem;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    padding: 1rem;
    flex: 1 1 auto;
    overflow: auto;
}

@media (max-width: 600px) {
    .permanent-sidenav {
        width: 14rem;
        padding: 1rem;
    }
}

