.card{
    width: 100%;
    min-height: 150px;
    padding: 25px;
    box-sizing: border-box;
    background-color: rgba(31, 41, 55, 0.6);
    border-radius: 45px;
    display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.header {
    display: flex;
    align-items: center;
    flex: 1;
}

.title-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon .label {
    margin-bottom: 5px;
}

.icon {
  max-height: 30px;
  width: auto;
  object-fit: contain;
  margin: 10px;
}


.title {
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
}

.right {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex: 2;
    min-width: 0;
    justify-content: space-between;
    width: 100%;
}

.right > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex: 1;
    min-width: 0;
}

.label {
    font-size: 0.8em;
    font-weight: bold;
    color: #ccc;
}

.value {
    font-size: 1em;
}

.description {
    margin: 0 25px;
    text-align: justify;
}

