<div class="card">
  <div class="header">
    <img [src]="icon" class="icon label" alt="">
    <div class="title-block">
      <div class="title">{{ title }}</div>
    </div>


    <div class="right">
      @if (description) {
        <div class="description">
          {{ description }}
        </div>
      }

      @if (marketType) {
        <div>
          <div class="label">Market type</div>
          <div class="value">{{ marketType }}</div>
        </div>

      }

      @if (maxDrawdown) {
        <div>
          <div class="label">Max Drawdown</div>
          <div class="value">{{ maxDrawdown }}%</div>
        </div>
      }

      @if (returnPercent) {
        <div>
          <div class="label">Return Percent</div>
          <div class="value">{{ returnPercent }}%</div>
        </div>
      }

      @if (totalCost) {
        <div class="label">Total Cost</div>
        <div class="value">{{ returnPercent | currency:'EUR' }}</div>
      }
      @if (RiskProfile) {
        <div>
          <div class="label">Risk Profile</div>
          <app-risk-profile [value]="riskProfile"></app-risk-profile>
        </div>

      }

      @if (showModifyButton) {
        <button mat-raised-button color="primary" (click)="onModify?.()">
          Modify
        </button>
      }

      @if (showChooseButton) {
        <button mat-raised-button color="primary" (click)="onChoose?.()">
          Choose
        </button>
      }
    </div>
  </div>
</div>
