@use '@angular/material' as mat;

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    @include mat.theme((
        color: (
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
        ),
        typography: (
            brand-family: 'Roboto',
            plain-family: 'Roboto',
        ),
        density: 0,
    ));
}

body {
    // Default the application to a light color theme. This can be changed to
    // `dark` to enable the dark color theme, or to `light dark` to defer to the
    // user's system settings.
    color-scheme: light;

    // Set a default background, font and text colors for the application using
    // Angular Material's system-level CSS variables. Learn more about these
    // variables at https://material.angular.dev/guide/system-variables
    background-color: rgb(248, 250, 252);
    color: rgba(31, 41, 55, 1);
    font: 400 1rem/1.5 "Roboto", "Nunito Sans", "Montserrat", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;

    // Reset the user agent margin.
    margin: 0;
}
